@font-face {
    font-family: 'Myriad';
    src: url('./assets/fonts/Myriad/Myriad%20Pro%20Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Caslon';
    src: url('./assets/fonts/Caslon/F37Caslon-BoldDisplay.otf') format('opentype');
}

:root {
    --bg: #e6e6e6;
    --border: #4f4f4f;
    --pink: #EF476F;
    --font2: 'Myriad';
    --font1: 'Caslon';
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: var(--bg);
    overflow: hidden;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pink);
    font-family: var(--font1);
    font-size: 50px;
    height: 80px;
}

#todo-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

#todo-container {
    border-radius: 50px;
    border: 3px solid var(--border);
    width: 85%;
    height: calc(100vh - 80px - 10vh);
    overflow: auto;
    min-height: 100px;

}

#todo-container::-webkit-scrollbar {
    width: 0;
}


.example-todo {
    background: #073B4C;
    border-radius: 50px;
    min-height: 50px;
    padding-left: 30px;
    margin: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

#example-input {
    outline: none;
    background: none;
    color: white;
    font-family: 'Myriad';
    font-size: 20px;
    margin-left: 2%;
    max-width: 100px;
}

.buttons {
    right: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    width: 40px;
    margin-left: 10px;
    height: auto;
}

.todo {
    width: calc(100% - 130px);
    resize: none;
    outline: none;
    font-size: 20px;
    background: none;
    color: white;
    -webkit-text-fill-color: white;
    font-family: var(--font2);
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.todo::placeholder {
    color: white;
    opacity: 1;
}

.todo:focus {
    opacity: 1;
}
.todo:not(:focus) {
    opacity: 1;
}

#input-wrapper {
    position: absolute;
    z-index: 10;
    bottom: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#input-bar {
    color: grey;
    border-radius: 50px;
    width: 60vw;
    min-height: 50px;
    background: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    
}

#todoInput {
    margin-left: 30px;
    resize: none;
    font-size: 20px;
    width: calc(100% - 60px);
    font-family: var(--font2);
    overflow: hidden;
    height: auto;
}

#todoInput:focus {
    outline: none;
}


#empty {
    font-family: var(--font2);
    font-size: 20px;
    color: grey;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}